<!doctype html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Generate ZIP File or JSON Data</title>
      <meta
         property="description"
         content="Easily generate ZIP files or retrieve JSON data containing Open Graph data from your URLs. Try my service to get what you need."
      />
      <meta property="og:title" content="Generate ZIP File or Retrieve JSON Data with Open Graph Data" />
      <meta
         property="og:description"
         content="Easily generate ZIP files or retrieve JSON data containing Open Graph data from your URLs. Try my service to get what you need."
      />
      <meta property="og:image" content="https://babdikaarov.home.kg/static/images/og-screenshot.png" />
      <meta property="og:image:type" content="image/png" />
      <meta property="og:image:width" content="1200" />
      <meta property="og:image:height" content="630" />
      <meta property="og:url" content="https://babdikaarov.home.kg" />
      <meta property="og:type" content="website" />
      <meta name="author" content="Beksultan" />
      <link rel="stylesheet" href="/static/css/style.css" />
   </head>
   <body>
      <header>
         <a href="/swagger/index.html" target="_blank" class="swagger">swagger docs</a>
      </header>
      <main>
         <section>
            <div class="container">
               <h1>Generate ZIP File or Retrieve JSON Data</h1>
               <form id="data-form" method="post">
                  <label for="links">Enter URLs (comma separated):*</label>
                  <textarea id="links" name="links" rows="15"></textarea>
                  <label for="filename">File Name:(optional)</label>
                  <input type="text" id="filename" name="filename" />
                  <div>
                     <label for="zip">
                        <input type="radio" id="zip" name="outputType" value="zip" />
                        Generate ZIP File
                     </label>
                     <label for="json">
                        <input type="radio" id="json" name="outputType" value="json" checked />
                        Retrieve JSON Data
                     </label>
                  </div>
                  <button type="submit">Submit</button>
               </form>
            </div>
            <div class="container">
               <div>
                  <label for="viewToggle"> <input type="checkbox" id="viewToggle" /> Show raw json </label>
               </div>
               <div class="wraper_result">
                  <div id="result" class="result nowrap"></div>
               </div>
            </div>
         </section>
      </main>
      <footer>
         <a href="https://freedns.afraid.org/" class="dns" target="_blank">
            <img src="https://img.shields.io/badge/Free%20DNS-blue?style=flat" alt="Free DNS" />
         </a>
      </footer>
      <script type="module" src="/static/js/main.js"></script>
   </body>
</html>
